<button class="common-button--container common-button__<%= locals[:style] %>">
  <div class="layer-state layer-state__<%= locals[:style] %>">
    <div class="common-button--content">
      <%= locals[:label] %>
    </div>
  </div>
</button>
