<div class="navigation-drawer" data-navigation-target="navigationDrawer">
  <%= render "material_design/navigation/navigation_drawer/headline", locals: { headline: locals[:headline] } %>
  <% locals[:sections].each do |section| %>
    <%= render "material_design/navigation/navigation_drawer/section_header", locals: { section_header: section[:header] } %>
    <% section[:nav_items].each do |nav_item| %>
      <%= render "material_design/navigation/navigation_drawer/nav_item", locals: { nav_item: nav_item } %>
    <% end %>
  <% end %>
</div>
