:root {
  /* color-scheme: light dark; */

  /* Light scheme */
  --md-sys-light-primary: rgb(101 85 143);
  --md-sys-light-surface-tint: rgb(101 85 143);
  --md-sys-light-on-primary: rgb(255 255 255);
  --md-sys-light-primary-container: rgb(233 221 255);
  --md-sys-light-on-primary-container: rgb(32 16 71);
  --md-sys-light-secondary: rgb(98 91 113);
  --md-sys-light-on-secondary: rgb(255 255 255);
  --md-sys-light-secondary-container: rgb(232 222 248);
  --md-sys-light-on-secondary-container: rgb(30 25 43);
  --md-sys-light-tertiary: rgb(126 82 96);
  --md-sys-light-on-tertiary: rgb(255 255 255);
  --md-sys-light-tertiary-container: rgb(255 217 227);
  --md-sys-light-on-tertiary-container: rgb(49 16 29);
  --md-sys-light-error: rgb(186 26 26);
  --md-sys-light-on-error: rgb(255 255 255);
  --md-sys-light-error-container: rgb(255 218 214);
  --md-sys-light-on-error-container: rgb(65 0 2);
  --md-sys-light-background: rgb(253 247 255);
  --md-sys-light-on-background: rgb(29 27 32);
  --md-sys-light-surface: rgb(253 247 255);
  --md-sys-light-on-surface: rgb(29 27 32);
  --md-sys-light-surface-variant: rgb(231 224 235);
  --md-sys-light-on-surface-variant: rgb(73 69 78);
  --md-sys-light-outline: rgb(122 117 127);
  --md-sys-light-outline-variant: rgb(202 196 207);
  --md-sys-light-shadow: rgb(0 0 0);
  --md-sys-light-scrim: rgb(0 0 0);
  --md-sys-light-inverse-surface: rgb(50 47 53);
  --md-sys-light-inverse-on-surface: rgb(245 239 247);
  --md-sys-light-inverse-primary: rgb(207 189 254);
  --md-sys-light-primary-fixed: rgb(233 221 255);
  --md-sys-light-on-primary-fixed: rgb(32 16 71);
  --md-sys-light-primary-fixed-dim: rgb(207 189 254);
  --md-sys-light-on-primary-fixed-variant: rgb(77 61 117);
  --md-sys-light-secondary-fixed: rgb(232 222 248);
  --md-sys-light-on-secondary-fixed: rgb(30 25 43);
  --md-sys-light-secondary-fixed-dim: rgb(203 194 219);
  --md-sys-light-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-light-tertiary-fixed: rgb(255 217 227);
  --md-sys-light-on-tertiary-fixed: rgb(49 16 29);
  --md-sys-light-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-light-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-light-surface-dim: rgb(222 216 224);
  --md-sys-light-surface-bright: rgb(253 247 255);
  --md-sys-light-surface-container-lowest: rgb(255 255 255);
  --md-sys-light-surface-container-low: rgb(248 242 250);
  --md-sys-light-surface-container: rgb(242 236 244);
  --md-sys-light-surface-container-high: rgb(236 230 238);
  --md-sys-light-surface-container-highest: rgb(230 224 233);

  /* Dark scheme */
  --md-sys-dark-primary: rgb(207 189 254);
  --md-sys-dark-surface-tint: rgb(207 189 254);
  --md-sys-dark-on-primary: rgb(54 39 93);
  --md-sys-dark-primary-container: rgb(77 61 117);
  --md-sys-dark-on-primary-container: rgb(233 221 255);
  --md-sys-dark-secondary: rgb(203 194 219);
  --md-sys-dark-on-secondary: rgb(51 45 65);
  --md-sys-dark-secondary-container: rgb(74 68 88);
  --md-sys-dark-on-secondary-container: rgb(232 222 248);
  --md-sys-dark-tertiary: rgb(239 184 200);
  --md-sys-dark-on-tertiary: rgb(74 37 50);
  --md-sys-dark-tertiary-container: rgb(99 59 72);
  --md-sys-dark-on-tertiary-container: rgb(255 217 227);
  --md-sys-dark-error: rgb(255 180 171);
  --md-sys-dark-on-error: rgb(105 0 5);
  --md-sys-dark-error-container: rgb(147 0 10);
  --md-sys-dark-on-error-container: rgb(255 218 214);
  --md-sys-dark-background: rgb(20 18 24);
  --md-sys-dark-on-background: rgb(230 224 233);
  --md-sys-dark-surface: rgb(20 18 24);
  --md-sys-dark-on-surface: rgb(230 224 233);
  --md-sys-dark-surface-variant: rgb(73 69 78);
  --md-sys-dark-on-surface-variant: rgb(202 196 207);
  --md-sys-dark-outline: rgb(148 143 153);
  --md-sys-dark-outline-variant: rgb(73 69 78);
  --md-sys-dark-shadow: rgb(0 0 0);
  --md-sys-dark-scrim: rgb(0 0 0);
  --md-sys-dark-inverse-surface: rgb(230 224 233);
  --md-sys-dark-inverse-on-surface: rgb(50 47 53);
  --md-sys-dark-inverse-primary: rgb(101 85 143);
  --md-sys-dark-primary-fixed: rgb(233 221 255);
  --md-sys-dark-on-primary-fixed: rgb(32 16 71);
  --md-sys-dark-primary-fixed-dim: rgb(207 189 254);
  --md-sys-dark-on-primary-fixed-variant: rgb(77 61 117);
  --md-sys-dark-secondary-fixed: rgb(232 222 248);
  --md-sys-dark-on-secondary-fixed: rgb(30 25 43);
  --md-sys-dark-secondary-fixed-dim: rgb(203 194 219);
  --md-sys-dark-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-dark-tertiary-fixed: rgb(255 217 227);
  --md-sys-dark-on-tertiary-fixed: rgb(49 16 29);
  --md-sys-dark-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-dark-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-dark-surface-dim: rgb(20 18 24);
  --md-sys-dark-surface-bright: rgb(59 56 62);
  --md-sys-dark-surface-container-lowest: rgb(15 13 19);
  --md-sys-dark-surface-container-low: rgb(29 27 32);
  --md-sys-dark-surface-container: rgb(33 31 36);
  --md-sys-dark-surface-container-high: rgb(43 41 47);
  --md-sys-dark-surface-container-highest: rgb(54 52 58);
}
