.chip {
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
  white-space: nowrap;

  @media (prefers-color-scheme: light) {
    background: rgb(var(--md-sys-light-secondary-fixed));
  }

  @media (prefers-color-scheme: dark) {
    background: rgb(var(--md-sys-dark-secondary-fixed));
    color: rgb(var(--md-sys-dark-on-surface-variant));
  }
}
