@media (prefers-color-scheme: light) {
  :root {
    --md-sys-hover-layer-state: rgb(
      var(--md-sys-light-on-surface-variant) /
        var(--md-sys-light-state-hover-state-layer-opacity)
    );
    --md-sys-pressed-layer-state: rgb(
      var(--md-sys-light-on-secondary-container) / 0.1
    );
    --md-sys-hover-selected-state: rgb(
      var(--md-sys-light-on-secondary-container) /
        var(--md-sys-light-state-hover-state-layer-opacity)
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --md-sys-hover-layer-state: rgb(
      var(--md-sys-dark-on-surface-variant) /
        var(--md-sys-dark-state-hover-state-layer-opacity)
    );
    --md-sys-pressed-layer-state: rgb(
      var(--md-sys-dark-on-secondary-container) /
        var(--md-sys-dark-state-pressed-state-layer-opacity)
    );
    --md-sys-hover-selected-state: rgb(
      var(--md-sys-dark-on-secondary-container) /
        var(--md-sys-dark-state-hover-state-layer-opacity)
    );
  }
}

.chip {
  height: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0px 8px;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
  @media (prefers-color-scheme: light) {
    color: rgb(var(--md-sys-light-on-surface-variant));
    border: 1px solid rgb(var(--md-sys-light-outline-variant));
  }

  @media (prefers-color-scheme: dark) {
    color: rgb(var(--md-sys-dark-on-surface-variant));
    border: 1px solid rgb(var(--md-sys-dark-outline-variant));
  }
}

.chip:hover {
  background: var(--md-sys-hover-layer-state)
    radial-gradient(circle, transparent 1%, var(--md-sys-hover-layer-state) 1%)
    center/15000%;
}

.chip.selected {
  border-color: transparent;
  @media (prefers-color-scheme: light) {
    background: rgb(var(--md-sys-light-secondary-container));
    color: rgb(var(--md-sys-light-on-secondary-container));
  }

  @media (prefers-color-scheme: dark) {
    background: rgb(var(--md-sys-dark-secondary-container));
    color: rgb(var(--md-sys-dark-on-secondary-container));
  }
}

.chip.selected:hover {
  background: var(--md-sys-hover-selected-state)
    radial-gradient(
      circle,
      transparent 1%,
      var(--md-sys-hover-selected-state) 1%
    )
    center/15000%;
}

.chip__container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  border: 2px dotted yellow;
}

.chip__dropdown {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: fit-content;
  min-width: 100%;
  z-index: 1051;
  max-width: calc(100vw - 60px);
}

@media (min-width: 768px) {
  .chip__dropdown {
    max-width: calc(
      100vw - 140px
    ); /* Reduzindo um pouco mais em telas médias */
  }
}

.chip__label {
  font-size: 14px;
  font-weight: 500;
  padding: 0px 8px;
}

.dropdown--hidden {
  display: none;
}

.rotate-180 {
  transform: rotate(180deg);
}
