.dropdown-container {
    display: flex;
    position: relative; 
    justify-content: flex-end;
    width: 100%;
  }
  
  .dropdown-button {
    display: flex; 
    height: 1.75rem;
    width: 1.75rem; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center; 
    color: var(--light-primary);
    background: transparent; 
  }
  
  .dropdown:hover {
    @media (prefers-color-scheme: light) {
      background: rgba(var(--light-secondary-container), 0.5);
    }
  
    @media (prefers-color-scheme: dark) {
      background: rgba(var(--dark-secondary-container), 0.5);
    }
  }
  
  .dropdown:active {
    @media (prefers-color-scheme: light) {
      background: var(--light-secondary-container);
    }
  
    @media (prefers-color-scheme: dark) {
      background: var(--dark-secondary-container);
    }
  }
  
  .dropdown-menu {
    position: absolute; 
    top: 2rem;
    right: 0;
    min-width: 200px;
    max-width: max-content;
    border-radius: 0.5rem;
    z-index: 20;
    @media (prefers-color-scheme: light) {
      background: var(--light-surface-container);
    }
  
    @media (prefers-color-scheme: dark) {
      background: var(--dark-surface-container);
    }
  }
  
  .dropdown-item {
    display: flex;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    @media (prefers-color-scheme: light) {
      background: rgba(var(--light-on-surface), 0.08);
    }
  
    @media (prefers-color-scheme: dark) {
      background: rgba(var(--dark-on-surface), 0.08);
    }
  }
  
  .dropdown-item:active {
    @media (prefers-color-scheme: light) {
      background: var(--light-surface-container-highest);
    }
  
    @media (prefers-color-scheme: dark) {
      background: var(--dark-surface-container-highest);
    }
  }

  .hidden {
    display: none;
  }
