.navigation-drawer {
  display: flex;
  width: 360px;
  min-height: 100vh;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  @media (prefers-color-scheme: light) {
    background: var(--md-sys-light-surface-container-low);
  }
  @media (prefers-color-scheme: dark) {
    background: var(--md-sys-dark-surface-container-low);
  }
  @media (max-width: 840px) {
    display: none;
  }
}

.navigation-drawer__headline {
  display: flex;
  height: 56px;
  padding: 8px 8px 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.navigation-drawer__secion-header {
  display: flex;
  padding: 18px 16px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.navigation-drawer__nav_item {
  display: flex;
  height: 56px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 100px;
}

.navigation-drawer__nav_item:hover {
  @media (prefers-color-scheme: light) {
    background: var(--md-sys-light-secondary-container);
  }
  @media (prefers-color-scheme: dark) {
    background: var(--md-sys-dark-secondary-container);
  }
}

.navigation-drawer__nav_item.active {
  @media (prefers-color-scheme: light) {
    background: var(--md-sys-light-secondary-container);
  }
  @media (prefers-color-scheme: dark) {
    background: var(--md-sys-dark-secondary-container);
  }
}

.navigation-drawer__state-layer {
  display: flex;
  padding: 16px 24px 16px 16px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
