.typography__headline-medium {
  font-size: 28px;
  line-height: 36px;
}

.typography__headline-small {
  font-size: 24px;
  line-height: 32px;
}

.typography--title-large {
  font-size: 22px;
  line-height: 28px;
}

.typography__title-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing:0.15px;
}

.typography__title-small {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;

  @media (prefers-color-scheme: light) {
    color: rgb(var(--md-sys-light-on-surface-variant));
  }
  @media (prefers-color-scheme: dark) {
    color: rgb(var(--md-sys-dark-on-surface-variant));
  }
}

.typography__label-large {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;

  @media (prefers-color-scheme: light) {
    color: rgb(var(--md-sys-light-on-secondary-container));
  }
  @media (prefers-color-scheme: dark) {
    color: rgb(var(--md-sys-dark-on-secondary-container));
  }
}

.typography__body-large {
  font-size: 16px;
  line-height: 24px;
  @media (prefers-color-scheme: light) {
    color: rgb(var(--md-sys-light-on-surface));
  }
  @media (prefers-color-scheme: dark) {
    color: rgb(var(--md-sys-dark-on-surface));
  }
}

.typography__body-medium {
  font-size: 14px;
  line-height: 20px;
  @media (prefers-color-scheme: light) {
    color: rgb(var(--md-sys-light-on-surface-variant));
  }
  @media (prefers-color-scheme: dark) {
    color: rgb(var(--md-sys-dark-on-surface-variant));
  }
}
