<!DOCTYPE html>
<html>
  <head>
    <title>Material design</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "material_design/application", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
